{% extends 'template.html.twig' %}
{% block title %}
     <title> ville | Modification</title>
{% endblock %}
{% block body %}
    <section class="content">
     <section class="content">
      <div class="row">
            <div class="col-md-6" style="margin-left: 20%;margin-top: 5%">
                <div class="box box-primary "style="padding: 50px;" >
                         <a class="btn btn-primary" href="{{ path('ville_index') }}"><i class="fa fa-arrow-left"></i>  Retour à la liste</a>
                   
                    <div class="box-header with-border">
                    <br/>
                       <h2 class="box-title" style="margin-left: 20%;">Modification d'un ville</h2>
                    </div>
                   
                    <div class="row">


    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

     </div>
                </div>
            </div>
        </div>
    </section> 
{% endblock %}
